
.container .cabecalho {
    -fx-background-color: rgba(0,0,0,0.79);
}

.container .cabecalho .image-view {
    -fx-cursor: hand;
}

.container .cabecalho .image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.container .area-perfil {
    -fx-background-color: rgba(76, 73, 73, 1);
}

.container .area-imagem {
    -fx-background-color: linear-gradient(to top, rgba(211, 185, 185, 0.600), rgba(211, 185, 185, 0.100));
}

.label {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.text-field {
    -fx-text-fill: #ffffffd1;
    -fx-padding: 10px;
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(to bottom, rgba(116, 116, 116, 0.700), rgba(211, 185, 185, 0.300));
    -fx-border-width: 0;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.79);
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}