
.container .cabecalho {
    -fx-background-color: rgba(0,0,0,0.79);
}

.container .cabecalho .image-view {
    -fx-cursor: hand;
}

.container .cabecalho .image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.container .area-perfil {
    -fx-background-color: rgba(76, 73, 73, 1);
}

.container .area-imagem {
    -fx-background-color:  rgba(0, 0, 0, 0.22);
}

.container .area-info .label {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}

.container .area-info .text-field {
    -fx-background-color: #e0dddd98;
    -fx-text-fill: rgb(255, 250, 250);
    -fx-font-size: 18px;
}

.container .button {
    -fx-font-size: 18px;
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.container .button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}