.chart {
    -fx-padding: 30px 70px 30px 0;
    -fx-pie-label-visible: false;
    -fx-background-color: #D9D9D9;
}

.data0.chart-pie,
.data1.chart-pie,
.data2.chart-pie,
.data3.chart-pie,
.data4.chart-pie,
.data5.chart-pie,
.data6.chart-pie,
.data7.chart-pie,
.data8.chart-pie,
.data9.chart-pie {
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.data0.chart-pie {
    -fx-pie-color: #A9F4D0;
}

.data1.chart-pie {
    -fx-pie-color: #FDD09F;
}

.data2.chart-pie {
    -fx-pie-color: #FED0EE;
}

.data3.chart-pie {
    -fx-pie-color: #D0E8FF;
}

.data4.chart-pie {
    -fx-pie-color: #FBE38E;
}

.data5.chart-pie {
    -fx-pie-color: #CC62E7;
}

.data6.chart-pie {
    -fx-pie-color: #368AFF;
}

.data7.chart-pie {
    -fx-pie-color: #E76262;
}

.data8.chart-pie {
    -fx-pie-color: #3DF4BD;
}

.data9.chart-pie {
    -fx-pie-color: #E762b4;
}

.chart-legend {
    -fx-font-size: 22px;
    -fx-text-fill: #000;
    -fx-padding: 20px 30px;
    -fx-background-radius: 10px;
}

.chart-legend-item-symbol {
    -fx-padding: 20px;
    -fx-min-width: 40px;
    -fx-min-height: 20px;
    -fx-max-width: 40px;
    -fx-max-height: 20px;
    -fx-shape: "M0,0 h20 v20 h-20 z";
}