.chart {
    -fx-background-color: #D9D9D9;
}

.data0.chart-pie,
.data1.chart-pie,
.data2.chart-pie,
.data3.chart-pie,
.data4.chart-pie,
.data5.chart-pie,
.data6.chart-pie,
.data7.chart-pie,
.data8.chart-pie,
.data9.chart-pie {
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.data0.chart-pie {
    -fx-pie-color: #FF8881;
}

.data1.chart-pie {
    -fx-pie-color: #FF4F04;
}

.data2.chart-pie {
    -fx-pie-color: #E0E0E0;
}

.data3.chart-pie {
    -fx-pie-color: #FF0404;
}

.data4.chart-pie {
    -fx-pie-color: #FFE871;
}

.data5.chart-pie {
    -fx-pie-color: #4B2D00;
}

.data6.chart-pie {
    -fx-pie-color: #EBE5B5;
}

.data7.chart-pie {
    -fx-pie-color: #F69F3A;
}

.data8.chart-pie {
    -fx-pie-color: #231C14;
}

.data9.chart-pie {
    -fx-pie-color: #FFE81A;
}

.chart-legend {
    -fx-font-size: 20px;
    -fx-text-fill: #000;
    -fx-padding: 20px 30px;
    -fx-background-radius: 10px;
}

.chart-legend-item-symbol {
    -fx-padding: 20px;
    -fx-min-width: 40px;
    -fx-min-height: 20px;
    -fx-max-width: 40px;
    -fx-max-height: 20px;
    -fx-shape: "M0,0 h20 v20 h-20 z";
}
