* {
    -fx-font-family: "Tahoma";
}

.cabecalho {
    -fx-background-color: rgba(0,0,0,0.79);
}

.image-view {
    -fx-cursor: hand;
}

/* Container */
.container {
    -fx-background-color: #D9D9D9;
}

.container .area-titulo {
    -fx-background-color: rgba(0,0,0,0.79);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0,0,2px);
    -fx-background-radius: 10px;
}

.container .area-titulo .titulo {
    -fx-text-fill: #fff;
    -fx-font-size: 23px;
}

.container .tabela .column-header {
    -fx-pref-height: 100px;
}

.container .tabela .table-column .label {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
}

.table-cell {
    -fx-font-size: 16px;
}

/* Arredondar os cantos da tabela */
.container .tabela .column-header-background {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.container .tabela .column-header,
.container .tabela .column-header .filler,
.container .tabela .column-header-background .filler {   
    -fx-background-color: derive;
    -fx-stroke: transparent;
    -fx-size: 50;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center;
}

.container .tabela .table-row-cell:filled:hover {
    -fx-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.container .tabela .table-row-cell:hover {
    -fx-text-fill: #fff;
}

.container .tabela:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.container .tabela .table-column {
    -fx-text-alignment: center;
    -fx-alignment: CENTER 
}

.imprimir {
    -fx-background-color: rgba(38, 23, 135, 0.8);
    -fx-background-radius: 10px;
    -fx-font-size: 20;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0,0,2px);
    -fx-cursor: hand;
}

.imprimir:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.label-ano {
	-fx-font-size: 17px;
	-fx-text-fill: #000000d2;
	-fx-prompt-text-fill: #0000008b;
}

.combo-box .arrow {
	-fx-font-size: 25px;
	-fx-background-color: rgba(0,0,0,0.79);
}

.combo-box {
	-fx-border-width: 1;
	-fx-border-color: rgba(0, 0, 0, 0.538);
	-fx-background-color: #fff;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.combo-box .list-view {
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: #fff;
}

.combo-box .list-cell {
	-fx-background-color: transparent;
	-fx-font-size: 16px;
}

.combo-box .list-view .list-cell:filled:selected {
    -fx-text-fill: #fff;
	-fx-background-color: rgba(0, 0, 0, 0.79);
}

.combo-box .list-view .list-cell:hover {
	-fx-text-fill: #000;
}

.ano { 
    -fx-background-color: rgba(0, 0, 0, 0.70) !important;
    -fx-border-width: 0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.ano .arrow-button {
    -fx-background-color: transparent !important;
    -fx-background-radius: 0 10px 10px 0;
    -fx-border-radius: 0 10px 10px 0;
}

.ano .arrow {
    -fx-font-size: 19px;
    -fx-background-color: #fff;
}

.ano .list-cell {
    -fx-alignment: center;
    -fx-border-width: 0 !important;
    -fx-background-color: transparent !important;
    -fx-background-radius: 10px 0 0 10px;
    -fx-border-radius: 10px 0 0 10px;
    -fx-text-fill: #ffffff;
}

.ano .list-view {
    -fx-background-color: rgba(0, 0, 0, 0.50);
}

.ano .list-view .list-cell:filled:hover {
    -fx-text-fill: #fff;
    -fx-background-color: rgba(0, 0, 0, 0.79);
}
