
.image-view {
    -fx-cursor: hand;
}

.alerta-sucesso {
    -fx-background-color: #25AB3F;
    -fx-background-radius: 10px;
}

.alerta-sucesso .label {
    -fx-text-fill: #fff;
}

.alerta-sucesso .titulo {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-border-width: 0 !important;
    -fx-border-color: none !important;
    -fx-background-color: transparent !important;
    -fx-effect: none I !important;
}

.alerta-sucesso .conteudo {
    -fx-font-size: 17px;
    -fx-font-style: italic;
}

/* ////////////////////////////// */

.alerta-fracasso .titulo {
    -fx-text-fill: #fff !important;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-border-width: 0 !important;
    -fx-border-color: none !important;
    -fx-background-color: transparent !important;
    -fx-effect: none I !important;
}

.alerta-fracasso {
    -fx-background-color: #E06060;
    -fx-background-radius: 10px;
}

.alerta-fracasso .label {
    -fx-text-fill: #fff;
    -fx-border-width: 0 !important;
    -fx-border-color: none !important;
    -fx-background-color: transparent !important;
    -fx-effect: none I !important;
}

.alerta-fracasso .titulo {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.alerta-fracasso .conteudo {
    -fx-font-size: 17px;
    -fx-font-style: italic;
}

/* ////////////////////////////// */

.alerta-informacao {
    -fx-background-color: #F5C13B;
    -fx-background-radius: 10px;
}

.alerta-informacao .label {
    -fx-text-fill: #815f5f;
}

.alerta-informacao .titulo {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-width: 0 !important;
    -fx-border-color: none !important;
    -fx-background-color: transparent !important;
    -fx-effect: none I !important;
}

.alerta-informacao .conteudo {
    -fx-font-size: 17px;
    -fx-font-style: italic;
}

