* {
    -fx-font-family: "System";
}

.area-fechamento {
    -fx-background-color: rgba(0, 0, 0, 0.874);
}

.area-fechamento .image-view {
    -fx-cursor: hand;
}

.area-fechamento .image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.cabecalho {
    -fx-background-color: rgba(0,0,0,0.79);
}

.cabecalho .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    
}

.cabecalho .button.ativo {
    -fx-background-color: #736F7E;
}

/* ///////////////////////////// */

.modal {
    -fx-background-color: rgba(0,0,0,0.79);
    -fx-background-radius: 0 0 10px 10px;
    -fx-font-size: 16px;
}

.submenu {
    -fx-background-radius: 10px;
}

.modal .botao {
    -fx-background-radius: 10px;
    -fx-background-color: #fff;
    -fx-cursor: hand;
}

.modal .botao:hover {
    -fx-background-color: #ffffffc0;
}

/* ///////////////////////////// */ 

.pesquisa {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5px, 0, 0, 5px);
}

.pesquisa, .text-field {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.pesquisa .text-field {
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-border-color: none;
}

.pesquisa .image-view {
    -fx-cursor: hand;
}

/* ///////////////////////////// */ 

.area-conteudo {
    -fx-background-color: #D9D9D9;
}

.area-conteudo .scroll-pane {
    -fx-background-color: none;
}

.area-conteudo .area-conteudo-titulo {
    -fx-font-size: 28px;
    -fx-text-fill: rgba(115, 111, 126, 0.9);
    -fx-text-weight: bold;

}

/* //////////////////////////////// */

.area-exibicao {
    -fx-background-color: #D9D9D9;
}


/* /////////////////////////////////// */

.area-bolo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5px, 0, 0, 8px);
    -fx-background-radius: 5px;
}

.area-bolo:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.area-bolo .titulo {
    -fx-text-weight: bold;
    -fx-font-size: 18px;
}

.area-bolo .subtitulo {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: #0000009f;
}


.area-bolo .button {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(to top, #187308, #36722db9);
    -fx-text-fill: #fff;
    -fx-text-weight: bold;
    -fx-cursor: hand;
}

.area-bolo .button:hover {
    -fx-background-color: #1d6e119b;
}

.area-bolo .image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.20), 5, 0, 1px, 2px);
}


.area-bolo .fabricao {
    -fx-text-fill: #557C97;
    -fx-font-size: 15px;
}

.area-bolo .validade {
    -fx-text-fill: #DA0000;
    -fx-font-size: 15px;
}

.area-bolo .peso {
    -fx-text-fill: #a79c05;
    -fx-font-size: 15px;
}

.area-bolo .preco {
    -fx-text-fill: #006B1E;
    -fx-font-size: 15px;
}

.label-bolo {
    -fx-font-size: 16px;
    -fx-text-fill: #000000d1;
}

.bolo-botao {
    -fx-background-color: rgba(38, 23, 135, 0.8) !important;
    -fx-text-fill: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5px, 0, 0,2px);
}

.bolo-botao:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #006b1e7d;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.30);
}


/* /////////////////////////////// */

.rodape {
    -fx-background-color: rgba(0, 0, 0, 0.79);
    -fx-padding: 5px;
}

.rodape .label {
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}

/* /////////////////////////////// */

.area-alerta {
    -fx-background-radius: 10px;
    -fx-background-color: #D9D9D9;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5px, 0, 0, 3px);
}

.pedido-ativo {
    -fx-background-color: rgba(38, 23, 135, 0.8) !important;
}

.pedido-ativo .label {
    -fx-text-fill: #fff !important;
}

/* //////////////////////// */


.conteudo-vazio {
    -fx-font-size: 22px;
    -fx-text-fill: linear-gradient(to bottom, #000000f1, #00000058);
}