* {
	-fx-border-width: 0;
	-fx-border-color: none;
	-fx-background-radius: none;
}

.cabecalho {
	-fx-background-color: rgba(0,0,0,0.79);
}

.image-view {
	-fx-cursor: hand;
}

.image-view:hover {
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.titulo {
	-fx-background-color: rgba(0,0,0,0.79);
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-background-radius: 10px;	
}

.container {
	-fx-background-color: #fff;
}

.combo-box .arrow {
	-fx-font-size: 25px;
	-fx-background-color: rgba(0,0,0,0.79);
}

.campo {
	-fx-font-size: 16px;
	-fx-text-fill: #000;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #000;
	-fx-background-color: transparent;
	-fx-padding: 10px;
}

.label-data {
	-fx-font-size: 17px;
	-fx-text-fill: #000000d2;
	-fx-prompt-text-fill: #0000008b;
}

.check-pago {
	-fx-font-size: 20px;
	-fx-text-fill: #00000090;
}

.check-box .box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2px;
    -fx-border-color: #707070;
    -fx-border-radius: 2px;
}

.check-box:selected .box {
    -fx-background-color: #01d508;
    -fx-border-color: #3366CC;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.check-pago .box {
	-fx-border-width: 1;
	-fx-border-color: #000;
}

.text-area {
	-fx-font-size: 18px;
	-fx-text-fill: #000;
	-fx-border-width: 1;
	-fx-border-color: #000;
	-fx-background-color: transparent !important;
	-fx-prompt-text-fill: #0000008b;
	-fx-border-radius: 10px;
}
.scroll-pane {
	-fx-background-color: none;
}

.botao {
	-fx-cursor: hand;
	-fx-font-size: 18px;
	-fx-background-radius: 10px;
	-fx-text-fill: #fff;
}

.botao:hover {
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.botao.roxo {
	-fx-background-color: rgba(38, 23, 135, 0.8);
}

.botao.red {
	-fx-background-color: rgba(168, 2, 2, 0.8);
}

.quantidade {
	-fx-border-width: 1;
	-fx-border-color: #000;
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-prompt-text-fill: #000000e0;
	-fx-padding: 10px;
	-fx-font-size: 17px;
}

.table-view {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #00000089;
	-fx-background-color: #fff;
}


.table-view .table-column {
	-fx-background-color: rgba(0, 0, 0, 0.79);
	-fx-font-size: 16px;
	-fx-text-fill: #000;
	-fx-padding: 5px;
}

.table-view .table-cell {
	-fx-alignment: center;
	-fx-background-color: transparent;
}

.table-view .table-column .label {
	-fx-alignment: center;
	-fx-font-size: 18px;
	-fx-text-fill: #fff;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: rgba(0, 0, 0 , 0.79);
    -fx-stroke: transparent;
    -fx-size: 30;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center;
}

.table-cell:selected {
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.20);
}

.combo-box {
	-fx-border-width: 1;
	-fx-border-color: rgba(0, 0, 0, 0.704);
	-fx-background-color: #fff;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.combo-box .list-view {
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: #fff;
}

.combo-box .list-cell {
	-fx-background-color: transparent;
	-fx-font-size: 16px;
}

.combo-box .list-view .list-cell:filled:selected {
    -fx-text-fill: #fff;
	-fx-background-color: rgba(0, 0, 0, 0.79);
}

.combo-box .list-view .list-cell:hover {
	-fx-text-fill: #000;
}

.data {
	-fx-border-width: 0 0 1 0;
    -fx-border-color: #000;
    -fx-background-color: transparent !important;
    -fx-font-size: 18px;
    -fx-text-fill: #00000088;
}

.data-fabricao > .arrow-button {
    -fx-padding: 5px;
    -fx-background-color: transparent !important;
}

.data > .arrow-button {
    -fx-background-color: #fff;
}

.data > .arrow-button > .arrow {
    -fx-background-color: rgba(0, 0, 0, 0.50);
    -fx-font-size: 25px;
}

.date {
    -fx-background-color: rgb(0, 0, 0);
}


.data .text-field {
    -fx-border-width: 0;
    -fx-background-color: transparent !important;
}


.date-picker-popup > .content > .month-year-pane > .picker > .picker-content > .calendar > .calendar-grid {
    -fx-background-color: white;
    -fx-border-color: black;
}

.date-picker-popup > .content > .month-year-pane > .picker > .picker-content > .calendar > .calendar-grid > .calendar-row > .arrow-button {
    -fx-background-color: #fff;
}


.date-picker-popup Button {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.text-area {
	-fx-padding: 10px;
}

.text-area .content, .text-area .corner, .text-area .scroll-bar {
	-fx-background-color: #fff;
	-fx-border-width: 0;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

